@(message: String)

@main("Welcome to Twitter Analyst - Live Tweets") {

        <script src="@routes.Assets.at("javascripts/highcharts.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/exporting.js")" type="text/javascript"></script>

        <script>
            var liveChart;

            function updateLiveChart(data) {
                var tweetJson = eval("(" + data + ')');

                var point = new Object();
                //todo parse to 2 dec and parse date to show tooltip
                point.y = tweetJson.score;
                point.x = tweetJson.created_at;
                point.tweet = tweetJson.text;
                point.user = tweetJson.user_name;

                if (tweetJson.sentiment == "negative") {
                    liveChart.series[0].addPoint(point, true, liveChart.series[0].activePointCount > 10);
                } else if (tweetJson.sentiment == "neutral") {
                    liveChart.series[1].addPoint(point, true, liveChart.series[1].activePointCount > 10);
                } else if (tweetJson.sentiment == "positive") {
                    liveChart.series[2].addPoint(point, true, liveChart.series[2].activePointCount > 10);
                }
             }
        </script>

        <script src="@routes.Assets.at("javascripts/live-tweets-chart.js")" type="text/javascript"></script>

        <script>
            $(function() {
                var host = window.location.host;
                var wsUri = "ws://" + host + "@routes.Application.wsTweets()";
                var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
                var tweetsSocket = new WS(wsUri);

                tweetsSocket.onopen = function() {
                    tweetsSocket.send("pump");
                };
                tweetsSocket.onmessage = function(event) {
                    console.log(event);
                    updateLiveChart(event.data);
                };
                tweetsSocket.onerror = function(event) {
                    console.log(event);
                    tweetsSocket.close();
                };
                tweetsSocket.onclose = function(event) {
                    console.log(event);
                    tweetsSocket.close();
                };
            });
        </script>

}
